.accordion {
    width: 100%;
  }
  
  .accordion-item {
    border: 1px solid #ddd;
    margin-bottom: 5px;
  }
  
  .accordion-header {
    background-color: #f8f9fa;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .accordion-content {
    padding: 10px;
    display: none; /* Hide by default; toggle display with JavaScript */
  }
  
  .accordion-item.active .accordion-content {
    display: block;
  }
  